*.md~
*.c~
CodeSource/prog
CodeSource/.DS_Store
.DS_Store
CodeSource/doc/*
CodeSource/Data_2_/**/*
CodeSource/Data_1_/**/*
gnuplot-4.6.1/*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

CodeSource/TP-OS.xcworkspace/xcuserdata/jessygiacomoni.xcuserdatad/UserInterfaceState.xcuserstate

CodeSource/Project-MACOS-Xcode/TP-OS.xcworkspace/xcuserdata/jessygiacomoni.xcuserdatad/UserInterfaceState.xcuserstate
